<div class="card card-body rounded-0 bg-dark text-white">
  <h3>Añade un evento </h3>
  
  <form action="/evens/add" method="POST">


     <div class="mb-3">
        <label form="registro"> Ingrese el registro:</label>
        <input type="text" name="registro" placeholder="registro"  id="registro" class="form-control rounded-0 bg-dark text-white">
    </div>
    
    <div class="mb-3">
        <label form="nombreEvento"> Ingrese el nombre del Evento:</label>
        <input type="text" name="nombreEvento" placeholder="nombreEvento" id="nombreEvento" class="form-control rounded-0 bg-dark text-white">
    </div>

    <div class="mb-3">
        <label form="organizacion"> Ingrese la organizacion:</label>
        <input type="text" name="organizacion" placeholder="organizacion"  id="organizacion" class="form-control rounded-0 bg-dark text-white">
    </div>

    <div class="mb-3">
        <label form="fechaEvento"> Ingrese la fecha del Evento:</label>

        <input type="fechaEvento" name="fechaEvento" placeholder="fechaEvento" id="fechaEvento" class="form-control rounded-0 bg-dark text-white">
    </div>

    <div class="mb-3">
        <label form="link"> Ingrese el link del evento:</label>
        <input type="text" name="link" placeholder="link" id="link" class="form-control rounded-0 bg-dark text-white">
    </div>


  <button class="btn btn-primary btn-sm mt-2">Agregar</button>

</form>
</div>