<div class="card card-body rounded-0 bg-dark text-white">
  <h3>Añade una Charla</h3>
  
  <form action="/chars/add" method="POST">


     <div class="mb-3">
        <label form="registro"> Ingrese el registro:</label>
        <input type="text" name="registro" placeholder="75344237"  id="registro" class="form-control rounded-0 bg-dark text-white">
    </div>
    
    <div class="mb-3">
        <label form="nombreCharla"> Ingrese el nombreCharla:</label>
        <input type="text" name="nombreCharla" placeholder="nombre Charla" id="nombreCharla" class="form-control rounded-0 bg-dark text-white">
    </div>

    <div class="mb-3">
        <label form="expositor"> Ingrese el expositor:</label>
        <input type="text" name="expositor" placeholder="expositor"  id="expositor" class="form-control rounded-0 bg-dark text-white">
    </div>

    <div class="mb-3">
        <label form="fechaCharla"> Ingrese la fecha de Charla:</label>
        <input type="fechaCharla" name="fechaCharla" placeholder="22/04/2022" id="fechaCharla" class="form-control rounded-0 bg-dark text-white">
    </div>

    
    
    <div class="mb-3">
        <label form="link"> Ingrese el link:</label>
        <input type="text" name="link" placeholder="link" id="link" class="form-control rounded-0 bg-dark text-white" >
    </div>


  <button class="btn btn-primary btn-sm mt-2">Agregar</button>

</form>
</div>