<div class="card card-body rounded-0 bg-dark text-white">
  <h3>Añade una Charla</h3>
  
  <form action="/nots/add" method="POST">


     <div class="mb-3">
        <label form="registro"> Ingrese el registro:</label>
        <input type="text" name="registro" placeholder="registro"  id="registro" class="form-control rounded-0 bg-dark text-white">
    </div>
    
    <div class="mb-3">
        <label form="nombreNoticia"> Ingrese el nombre de la Noticia:</label>
        <input type="text" name="nombreNoticia" placeholder="nombreNoticia" id="nombreNoticia" class="form-control rounded-0 bg-dark text-white">
    </div>

    <div class="mb-3">
        <label form="link"> Ingrese el link de la noticia:</label>
        <input type="text" name="link" placeholder="link" id="link" class="form-control rounded-0 bg-dark text-white">
    </div>

    <div class="mb-3">
        <label form="foto"> Ingrese el link de la foto:</label>

        <input type="text" name="foto" placeholder="foto" id="foto" class="form-control rounded-0 bg-dark text-white">
    </div>

  <button class="btn btn-primary btn-sm mt-2">Agregar</button>

</form>
</div>