<div class="card card-body rounded-0 bg-dark text-white">
  <h3>Añade un contacto de ayuda</h3>
  
  <form action="/ayus/add" method="POST">

  <div>
    <label form="contacto"> Ingrese el contacto:</label>
    <input type="text" name="contacto" placeholder="contacto" id="contacto" class="form-control rounded-0 bg-dark text-white" />
  </div>
  <div>
    <label form="telefono"> Ingrese el telefono:</label>
    <input type="text" name="telefono" placeholder="telefono" id="telefono" class="form-control rounded-0 bg-dark text-white" />
  </div>
    <div>
    <label form="correo"> Ingrese el contacto:</label>
    <input type="text" name="correo" placeholder="correo" id="correo" class="form-control rounded-0 bg-dark text-white" />
  </div>


  <button class="btn btn-primary btn-sm mt-2">Agregar</button>

</form>
</div>