<div class="card card-body rounded-0 bg-dark text-white">
  <h3>Añade un repositorio</h3>
  
  <form action="/repos/add" method="POST">

  <div>
    <label form="titulo"> Ingrese el titulo:</label>
    <input type="text" name="titulo" placeholder="titulo" id="titulo" class="form-control rounded-0 bg-dark text-white" />
  </div>

    <div>
    <label form="registro"> Ingrese el registro:</label>
    <input type="text" name="registro" placeholder="registro" id="registro" class="form-control rounded-0 bg-dark text-white" />
  </div>

    <div>
    <label form="link"> Ingrese el link:</label>
    <input type="link" name="link" placeholder="link" id="link" class="form-control rounded-0 bg-dark text-white" />
  </div>



  <button class="btn btn-primary btn-sm mt-2">Agregar</button>

</form>
</div>