<div class="card card-body rounded-0 bg-dark text-white">
  <h3>Perfil de Usuario</h3>
    <div class="col-md-4 col-sm-4 text-center">
    <img class="btn-md" src="http://blog.aulaformativa.com/wp-content/uploads/2017/05/perfil-del-cliente-ideal-para-negocio-diseno-web-definicion.jpg" alt="" style="border-radius:50%;">
    </div> 
  <form action="/usuarios/add" method="POST">

  <div>
    <label form="nombre"> Ingrese su nombre:</label>
    <input type="text" name="nombre" placeholder="Nombre" id="nombre" class="form-control rounded-0 bg-dark text-white" />
  </div>
  <div>
    <label form="email"> Ingrese su email:</label>
    <input type="text" name="email" placeholder="email" id="email" class="form-control rounded-0 bg-dark text-white" />
  </div>
  <div>
    <label form="password"> Ingrese su constraseña:</label>
    <input type="password" name="password" placeholder="password" id="password" class="form-control rounded-0 bg-dark text-white" />
  </div>



  <button class="btn btn-primary btn-sm mt-2">Enviar</button>

</form>
</div>