<div class="container">

      {{> navbar }}
    <CENTER class="text align-center">
        
        
        <div>
            <h1>AYUDA</h1>
        </div>
        
    </CENTER>
    
    <div class="row mt-4">
        <div class="col-md-5">
            {{> Form/taskFormAyu}}
        </div>
        <div class="col-md-7">
            {{> Table/taskTableAyu}} 
        </div>
    </div>
</div>
