<div class="container">
    <CENTER class="text align-center">
        <div>
            <h1>CHARLAS</h1>
        </div>
        
    </CENTER>
    
    <div class="row mt-4">
        <div class="col-md-5">
            {{> Form/taskFormChar}}
        </div>
        <div class="col-md-7">
            {{> Table/taskTableChar}} 
        </div>
    </div>
</div>
