<div class="container">
      {{> navbar }}
    <CENTER class="text align-center">
        <div>
            <h1>NOTICIAS</h1>
        </div>
        
    </CENTER>
    
    <div class="row mt-4">
        <div class="col-md-5">
            {{> Form/taskFormNot}}
        </div>
        <div class="col-md-7">
            {{> Table/taskTableNot}} 
        </div>
    </div>
</div>
