<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
        <link rel="stylesheet" type="text/css" href="font.css">
        <title>Repositorio de Reciclaje</title>
    </head>
    <body class="container">
        <!--Ver página de repositorio de reciclaje y Ver página principal del administrador-->
        <div class="row">
          <nav class="navbar navbar-light bg-light mt-4">
            <div class="container-fluid">
              <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
                <span class="navbar-toggler-icon"></span>
              </button>
              <a class="navbar-brand" href="#">
                <b>
                  <h1>
                    <b>REPOSITORIO DE RECICLAJE</b>
                  </h1>
                </b>
              </a>
              <img src="https://eacnur.org/blog/wp-content/uploads/2017/02/signo-de-reciclaje.jpg"  width="50" height="40"  alt="">
      
              <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
                <div class="offcanvas-header" style="background-color: aqua">
                  <center>
                    <h5 class="offcanvas-title" id="offcanvasNavbarLabel" >GREEN MOVE</h5>
                  </center>
                  <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
      
                <div class="offcanvas-body">
                  <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                    
      
                    <li class="nav-item">
                      <CENter>
                        <img src="https://eacnur.org/blog/wp-content/uploads/2017/02/signo-de-reciclaje.jpg"  width="100" height="80"  alt=""> 
                       </CENter>
      
                    </li>
      
                    <br><br/>
                   
                   <li class="nav-item dropdown">
                      <a class="boton-personalizado" href="/">NOTICIAS</a>
                    </li>
                    <br><br/>
                    <li class="nav-item dropdown">
                      <a class="boton-personalizado" href="/paginaContenedores.html">CONTENEDORES</a>
                    </li>
                    <br><br/>
                    <li class="nav-item dropdown">
                      <a class="boton-personalizado" href="/paginaEventos.html">EVENTOS</a>
                    </li>
                    <br><br/>
                    <li class="nav-item dropdown">
                      <a class="boton-personalizado" href="/paginaVoluntariado.html">VOLUNTARIADOS</a>
                    </li>
                    <br><br/>
                    <li class="nav-item dropdown">
                      <a class="boton-personalizado" href="/src/views/partials/repositorio.hbs">REPOSITORIO</a>
                    </li>
                    <br><br/>
                    <li class="nav-item dropdown">
                      <a class="boton-personalizado" href="/paginaCharlas.html">CHARLAS</a>
                    </li>
                    <br><br/>
                    <li class="nav-item dropdown">
                      <a class="boton-personalizado" href="/paginaAyuda.html">AYUDA</a>
                    </li>
                    <br><br/>
                    <li class="nav-item dropdown">
                      <a class="boton-personalizado" href="/login.html">CERRAS SESIÓN</a>
                    </li>
                    <br><br/>
                  </ul>
          
                </div>
              </div>
            </div>
          </nav>
        </div> 
        
    <!---->
        <div class="container">
            <div class="mt-4">
                <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">
                          <h3 class="ubicado">
                            <b>REPOSITORIO</b>
                          </h3>
                          
                        </th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row">1</th>
                        <td>
                          <div class="estilo">
                            <b>EL RECICLAJE DE LOS DESECHOS SOLIDOS Y SU INCIDENCIA EN LOS DERECHOS DE LAS PERSONAS PARA EL BUEN VIVIR</b>
                          </div>
                            <p class="mt-4">Link del repositorio: <a href="https://repositorio.uteq.edu.ec/handle/43000/720" target="_blank">https://repositorio.uteq.edu.ec/handle/43000/720</a></p>
                            <img src="/images/desecho.jpg"  width="300" height="200"  alt="">
                        </td>
                      </tr>

                      <tr>
                        <th scope="row">2</th>
                        <td>
                          <div class="estilo">
                            <b>MANEJO SIMPLIFICADO DE RESIDUOS SOLIDOS A NIVEL DOMESTICO URBANO</b>
                          </div>
                            <p class="mt-4">Link del repositorio: <a href="https://repositorio.iiap.gob.pe/handle/20.500.12921/432" target="_blank">https://repositorio.iiap.gob.pe/handle/20.500.12921/432</a></p>
                            <img src="/images/iquitos.jpeg"  width="300" height="200"  alt="">
                          </td>
                      </tr>

                      <tr>
                        <th scope="row">3</th>
                        <td>
                          <div class="estilo">
                            <b>EL RECICLAJE DE RESIDUOS POR DEMOLICION DE EDIFICACIONES MENORES EN EL DESARROLLO SOSTENIBLE</b>
                          </div>
                            <p class="mt-4">Link del repositorio: <a href="http://repositorio.unfv.edu.pe/bitstream/handle/UNFV/4154/VARGAS%20CHANG%20ESTHER%20JONI%20-%20DOCTORA%20.pdf?sequence=1&isAllowed=y" target="_blank">http://repositorio.unfv.edu.pe/bitstream/handle/UNFV/4154/VARGAS%20CHANG%20ESTHER%20JONI%20-%20DOCTORA%20.pdf?sequence=1&isAllowed=y</a></p>
                            <img src="/images/desarrollo.jpg"  width="300" height="200"  alt="">
                          </td>
                      </tr>

                      <tr>
                        <th scope="row">4</th>
                        <td>
                          <div class="estilo">
                            <b>EL USO DE MATERIAL RECICLADO PARA LA PROTECCION DEL MEDIO AMBIENTE</b>
                          </div>
                            <p class="mt-4">Link del repositorio: <a href="https://repositorio.utp.edu.pe/handle/20.500.12867/4669" target="_blank">https://repositorio.utp.edu.pe/handle/20.500.12867/4669</a></p>
                            <img src="/images/material.jpg"  width="300" height="200"  alt="">
                          </td>
                      </tr>

                      <tr>
                        <th scope="row">5</th>
                        <td>
                          <div class="estilo">
                            <b>SISTEMA DE DEPOSITO PARA BOTELLAS DE PLASTICO EN LIMA</b>
                          </div>
                          <p class="mt-4">Link del repositorio:<a href="https://repositorio.esan.edu.pe/bitstream/handle/20.500.12640/1754/2019_MATC_18-1_01_T.pdf?sequence=4&isAllowed=y" target="_blank">https://repositorio.esan.edu.pe/bitstream/handle/20.500.12640/1754/2019_MATC_18-1_01_T.pdf?sequence=4&isAllowed=y</a></p>
                          <img src="/images/botellas.jpg"  width="300" height="200"  alt="">
                          </td>
                      </tr>

                      <tr>
                        <th scope="row">6</th>
                        <td>
                          <div class="estilo">
                            <b>APLICACION DE LAS TECNICAS DE REDUCIR, RECICLAR Y REUTILIZAR PARA EL DESARROLLO DE LOS VALORES DE RESPONSABILIDAD CON EL MEDIO AMBIENTE</b>
                          </div>
                          <p class="mt-4">Link del repositorio: <a href="https://repositorio.unsm.edu.pe/bitstream/handle/11458/3622/ING.%20AMBIENTAL%20-%20Lyanne%20Milagros%20Fernández%20Pinchi.pdf?sequence=1&isAllowed=y" target="_blank">https://repositorio.unsm.edu.pe/bitstream/handle/11458/3622/ING.%20AMBIENTAL%20-%20Lyanne%20Milagros%20Fernández%20Pinchi.pdf?sequence=1&isAllowed=y</a></p>
                          <img src="/images/3R.png"  width="300" height="200"  alt="">
                        </td>
                      </tr>

                    </tbody>
                  </table>
            </div>
        </div>
        <div>
          <center>
            <img src="/images/reciclaje (1).png" class="img-thumbnail" alt="..." width="500" height="500">
          </center>    
  </div>
       
    </body>
    </html>

    
</html>