<div class="container">
    <CENTER class="text align-center">
        <div>
            <h1>Editar Usuarios</h1>
        </div>
        
    </CENTER>
    <div class="row mt-4">
        <div class="col-md-5">
            {{> Form/taskFormUsuario}}
        </div>
        <div class="col-md-7">
            {{> Table/taskTableUsuario}} 
        </div>
    </div>
</div>