<nav class="navbar navbar-light bg-light mt-2">
      <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
          <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="#">
          <b>
            <h1>
              <b></b>
            </h1>
          </b>
        </a>
        <img src="https://eacnur.org/blog/wp-content/uploads/2017/02/signo-de-reciclaje.jpg"  width="50" height="40"  alt="">

        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
          <div class="offcanvas-header" style="background-color: aqua">
            <center>
              <h5 class="offcanvas-title" id="offcanvasNavbarLabel" >GREEN MOVE</h5>
            </center>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
          </div>

          <div class="offcanvas-body">
            <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
              

              <li class="nav-item">
                <CENter>
                  <img src="https://eacnur.org/blog/wp-content/uploads/2017/02/signo-de-reciclaje.jpg"  width="100" height="80"  alt=""> 
                 </CENter>

              </li>

              <br><br/>
             
             <li class="nav-item dropdown">
                <a class="boton-personalizado" href="/">NOTICIAS</a>
              </li>
              <br><br/>
              <li class="nav-item dropdown">
                <a class="boton-personalizado" href="/">CONTENEDORES</a>
              </li>
              <br><br/>
              <li class="nav-item dropdown">
                <a class="boton-personalizado" href="/">EVENTOS</a>
              </li>
              <br><br/>
              <li class="nav-item dropdown">
                <a class="boton-personalizado" href="/">VOLUNTARIADOS</a>
              </li>
              <br><br/>
              <li class="nav-item dropdown">
                <a class="boton-personalizado" href="/repositorio">REPOSITORIO</a>
              </li>
              <br><br/>
              <li class="nav-item dropdown">
                <a class="boton-personalizado" href="/">CHARLAS</a>
              </li>
              <br><br/>
              <li class="nav-item dropdown">
                <a class="boton-personalizado" href="/">AYUDA</a>
              </li>
              <br><br/>
              <li class="nav-item dropdown">
                <a class="boton-personalizado" href="/">CERRAS SESIÓN</a>
              </li>
              <br><br/>
            </ul>
    
          </div>
        </div>
      </div>
    </nav>